<main>
<div class="section-container">
<div class="content">
        <h1>faq</h1>

        <section id="Faq">

        <h2>Pergunta</h2>
        <p>blancdsjcndskjndkcjwenc hiwbfe jcwbemfewm</p>

        <h2>Resposta</h2>
        <p>svnkshbcjaklnck\aejwbhfkyuerjfvajwfbweyuewabjjhcbhjerfbwkej</p>
        </section>

        <section id="obs"><p>Adicione sua pergunta<input id="obs" name="Observações" required="required" type="text" placeholder="Comentários adicionais" /></p>
        </section>

        <section id="enviar-feedback">
                <p><a href="login.html">Enviar pergunta</a></p>
        </section>

        <section id="Opiniao">

        <h1>opiniOes dos usuários</h1>

        <h2>Usuário</h2>
        <p>blancdsjcndskjndkcjwenc hiwbfe jcwbemfewmjkwcnwcshcewjbfbcjbhjwebfhjewbfbewhfehfbehwbfhefkwabhewbfhbkb</p>
        <p>Nota 9/10</p>
        </section>

        <section id="obs"><p>Adicione sua opinião<input id="obs" name="Observações" required="required" type="text" placeholder="Comentários adicionais" /></p>
        </section>

        <section id="enviar-feedback">
                <p><a hasp-controller="Cliente" asp-action="Login">Enviar pergunta</a></p>
        </section>
        </div>
        </main>