<main>

    <div class="section-container">
        <div class="content">
            <section id="orcamento">

                <h1>OrÇamento</h1>
            

                <section id="date">
                        <p> Data do evento<input id="date" name="Data" required="required" type="date"/></p>
                </section>
                
                <section id="evento">
                        <p> Tipo de Evento<input id="evento" name="Tipo de evento" required="required" type="text" placeholder="Digite o tipo de evento" /></p>
                </section>

                <section id="pessoas">
                        <p>Quantidade de pessoas<input id="pessoas" name="Quant. pessoas" required="required" type="number" placeholder="máx. 400" /></p>
                </section>

                <section id="obs"><p>Observações<input id="obs" name="Observações" required="required" type="text" placeholder="Comentários adicionais" /></p>
                </section>

                <p>Adicionar equipamentos (opcional)</p>
                <section id="Equipamentos"><p>Luz $$$<input id="Equipamentos" name="Equipamentos" type="checkbox" placeholder="Comentários adicionais" /></p>
                </section>   
                
                <section id="Equipamentos"><p>Som $$$<input id="Equipamentos" name="Equipamentos" type="checkbox" placeholder="Comentários adicionais" /></p>
                </section> 

                <section id="valor"><p>VALOR:<input id="valor" name="valor" required="required" type="button"/></p>
                </section>

                <section id="enviar-login">
                <p><bold><a href="login.html">Finalizar reserva</a></p>
                </section>

            </section>
        </div>
        </div>
    </main>