
<main>
<form method="POST" action='@Url.Action("Registrar", "Orcamento")'>
<div class="section-container">
        <div class="content">
        <section id="orcamento">

                <h1>OrÇamento</h1>


                <section id="Nome">
                        <p> Nome Completo<input id="Nome" name="nome" required="required" type="text" /></p>
                </section>
                <section id="Email">
                        <p> Email<input id="Email" name="email" required="required" type="text" /></p>
                </section>
                <section id="Telefone">
                        <p> Telefone<input id="Telefone" name="telefone" required="required" type="text" /></p>
                </section>
                <section id="CPF">
                        <p> CPF<input id="CPF" name="cpf" required="required" type="text" /></p>
                </section>
                <section id="Date">
                        <p> Data do evento<input id="Date" name="dataEvento" required="required" type="date" /></p>
                </section>
                
                <section id="Evento">
                        <p> Tipo de Evento<input id="Evento" name="evento" required="required" type="text" placeholder="Digite o tipo de evento" /></p>
                </section>

                <section id="Pessoas">
                        <p>Quantidade de pessoas<input id="Pessoas" name="quantidadePessoas" required="required" type="number" placeholder="máx. 400" /></p>
                </section>

                <section id="Obs">
                        <p>Observações<input id="Obs" maxlength="280" minlength="3" name="observaçao" required="required" type="text" placeholder="Comentários adicionais" /></p>
                </section>
                <section id="enviar-login">
                <input type="submit" value="Enviar" />
                </section>
</form>
                </section>
        </div>
        </div>
</main>