
<main>
<div class="section-container">
    <div class="content">

                <form method="POST" action='@Url.Action("Logar", "Login")'>

                    <section id="Login"> 

                        <h1>Login</h1>
        
                        <section id="usuario">
                        <label for="usuario">Email</label>
                        <br />
                        <input type="text" name="email">
                        </section>
                                <section id="senha">
                        <label>Senha</label>
                        <br />
                        <input id="senha" name="senha"  type="password" maxlength="20" minlength="1"placeholder="Senha" />
                        </section>
                        <section id="enviar">
                                <p><bold></p>
                                <input type="submit" value="Entrar!"/> 
                        </section>   
                        
                        <p>Não possui conta?<a action='@Url.Action("Index", "Cadastro")'> Ir para Cadastro</a> 
                        </p>
                        
                    </section>        
                </form>
            </div>
        </div>
            
    </main>